@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Varela Round", sans-serif; */
  /* font-family: 'Source Code Pro', monospace; */
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  10% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatex(0px) rotate(-1deg);
    /* transform: rotate(-3deg); */
  }
  20% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(2px) rotate(2deg);
  }
  30% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatex(-1px) rotate(-1deg);
  }
  40% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(-1px) rotate(1deg);
  }
  50% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px) rotate(-1deg);
  }

  60% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(0px) rotate(1deg);
  }
  70% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatex(1px) rotate(-1deg);
  }
  80% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(5px) rotate(1deg);
  }
  90% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatex(0px) rotate(-2deg);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}
